{{>header}}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h3 class="display-5 fw-bold">À propos de nous</h3>
        <p class="col-md-8 fs-4">
          Nous sommes deux étudiants désireux d'agir pour rendre notre monde meilleur. Selon nous, nous devons agir chacun à notre échelle.
          C'est pour cela que nous avons lancé CareTree, qui a pour but de réunir une communauté autour du partage de bonnes ondes, et d'actes positifs.
        </p>      
        <h3>
          Une question? Une suggestion? Contactez-nous ! 
        </h3>
        <span>Vous pouvez nous envoyerun mai</span>
      </div>
  </div>
</div>

{{>footer}}