{{> header}}

  <button class="btn btn-outline-dark mx-5" type="button" href="/createChallenge">
    <i class="fas fa-plus"></i>      Défiez la communauté !
  </button>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mx-5 pt-4">
      {{#results}}
        <div class="col mb-3">
            <div class="card mb-0 h-100">
              
              <div class="d-flex align-items-start flex-column mb-3 h-100">
                <div class="w-100 px-4">
                  <p class="mx-2 mt-3" style="text-align: justify;">{{title}}</p>
                  <hr/>
                </div>
                <div class="my-3 px-2">
                  <p class="mx-3" style="text-align: justify">{{description}}</p>
                </div>
                
                
                <div class="mt-auto p-2 bd-highlight w-100">
                  <p style="font-size: 0.8em;">  Suggéré par : <i>{{author}}</i></p>
                  <div class="row justify-content-around">
                  <div class="col-2">
                    <a href="/upvoteChallenge/{{id}}">
                    <i class="far fa-thumbs-up fa-lg" style="color: black;"></i>
                    {{nbUpvotes}}
                    </a>
                  </div>
                    <a class = "col-" href="/acceptChallenge/{{id}}">
                      <button class="btn btn-primary" type="button" href="/acceptChallenge/{{id}}">
                        Je relève le défi !
                      </button>
                    </a>
                  <a class="col pt-3" href="/reportChallenge/{{id}}">Signaler</a>
                </div>
                </div>
              </div>
              
            </div>
        </div>
      {{/results}}
  </div>
    <nav class="pt-4">
      <ul class="pagination justify-content-center">
        <li class="page-item {{#prev_disabled}}disabled{{/prev_disabled}}">
          <a class="page-link" href="/challenges?page={{prev_page}}"><i class="fas fa-chevron-left"></i></a>
        </li>
        <li class="page-item"><p class="page-link" href="#">{{page}}</p></li>
        <li class="page-item {{#next_disabled}}disabled{{/next_disabled}}">
          <a class="page-link" href="/challenges?page={{next_page}}"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </nav>
    
    

{{> footer}}