{{> header}}

  <div class="row">
    <div class="col">
      <h1>{{num_found}} Défis {{#page}} (page {{page}}/{{num_pages}}) {{/page}}</h1>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-4">
      {{#results}}
      <div class="col mb-3">
        <a href="/read/{{entry}}">
        </a>
          <div class="card mb-4 h-100">
            <div class="card-body">
                <p class="card-text">{{title}}</p>
              <p>{{description}}</p>
              <p>Suggéré par : {{username}}</p>
              <p>Likes : {{nbUpvotes}}</p>
              <p>Catégorie : {{categoryName}}</p>
            </div>
          </div>
      </div>
      {{/results}}
  </div>
  {{#prev_page}}
    <div class="row">
      <div class="col">
        <a class="btn btn-primary" href="/challenges?page={{prev_page}}">Page précédente</a>
      </div>
    </div>
  {{/prev_page}}
  {{#next_page}}
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="/challenges?page={{next_page}}">Page suivante</a>
    </div>
  </div>
  {{/next_page}}

{{> footer}}