{{> header}}

<div class="row justify-content-center pt-5 mt-3 pb-3 text-center">
<div class="col-10">
  <h2>
    Prêt à changer le monde ? 
  </h2>
  <h2>
  Proposez un défi qui le rendra meilleur !
  </h2>
</div>
</div>

{{#success}}
<div class="row mb-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-success"
      role = "alert"
    >
    {{msg}}
    </div>
  </div>
{{/success}}

{{#errors}}
<div class="row mb-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-danger"
      role = "alert"
    >
    {{msg}}
    </div>
  </div>
{{/errors}}

<form class="container overflow-hidden justify-content-center" action="/createChallenge" method="post">
  <div class="row mt-3" >
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form-floating">
      <input
        type="text" class="form-control" id="title" placeholder="" name="title" required/>
      <label for="title" class="ms-2">Titre</label>
    </div>
  </div>
  <div class="row mt-3" >
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form-floating">
      <textarea class="form-control" placeholder="" id="description" style="height: 10em;"></textarea>
      <label for="description" class="ms-2">Description</label>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating">
      <button type="submit" class="btn btn-outline-success">
        Défier la communauté
      </button>
    </div>
  </div>
</form>

{{> footer}}
