{{> header}}
<form class="container overflow-hidden justify-content-center" action="/login" method="post">
  <div class="row mt-3" >
  <h1 class = "col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center h3 mb-3 fw-normal">
  Se connecter sur ARBRE
  </h1>
  </div>
  <div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="votreNomUtilisateur"
      />
      <label for="floatingInput">Nom d'utilisateur</label>
    </div>
  </div>
  <div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="MotDePasse"
      />
      <label for="floatingPassword">Mot de passe</label>
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <button type="submit" class="btn btn-primary">
        Se connecter
      </button>
    </div>
  </div>
</form>

{{> footer}}
