{{> header}}
<div class="container overflow-hidden">
  <form class="row g-3">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="votreNomUtilisateur"
        />
        <label for="floatingInput">Nom d'utilisateur</label>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="MotDePasse"
          />
          <label for="floatingPassword">Mot de passe</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">
        Se connecter
      </button>
    </div>
  </form>
</div>

{{> footer}}
