{{>header}}
<div class="container">
    <div class="main-body">
      <a href = "/getUserInfoRaw">Cliquer ici pour afficher les informations sous forme brute</a>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{profilePic}}" alt="Photo de profil" class="img-thumbnail" width="150">
                    <div class="mt-3">
                      <h4>{{pseudo}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
               <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">Défis Terminés</h6>
                         {{#succeededChallenges}}
                          {{id}}. {{titre}} : {{description}}<br>
                        {{/succeededChallenges}}
                        
                      </div>
                    </div>
            </div>
                <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">Défis Aimés</h6>
                         {{#likedChallenges}}
                         {{id}}. {{titre}} : {{description}}<br>
                        {{/likedChallenges}}
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">Défis Créés</h6>
                         {{#createdChallenges}}
                        {{id}}. {{titre}} : {{description}}<br>
                        {{/createdChallenges}}
                      </div>
                    </div>
                  </div>
                  </div>
                
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Défis Acceptés</h6>
                       {{#acceptedChallenges}}
                      {{id}}. {{titre}} : {{description}}<br>
                      {{/acceptedChallenges}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Défis Signalés</h6>
                       {{#signaledChallenges}}
                        {{id}}. {{titre}} : {{description}}<br>
                      {{/signaledChallenges}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{{>footer}}