{{>header}}
<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar"><img class= "img-thumbnail" src ={{avatar}}></img></div>
              <h5 class="user-name">{{name}}</h5>
              <h6>
                Voilà votre profil. Soyez libre de le modifier comme vous le
                souhaitez.
              </h6>
              <a href="/createdchallenges" class="btn btn-outline-info my-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
            Voir mes Challenges
          </a>
              <a href="/tree" class="btn btn-outline-info my-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
            Voir mon arbre
          </a>
            <button type = "button" class = "btn btn-outline-danger my-3" data-toggle="modal" data-target="#deleteAlert">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
              Supprimer le compte
            </button>
            <!-- Modal -->
                        <div id="deleteAlert" class="modal fade" role="dialog">
                          <div class="modal-dialog modal-dialog-centered">

                          <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Confirmez votre choix</h4>
                                <button type="button" class="btn-close" data-dismiss="modal"></button>
                              </div>
                              <div class="modal-body">
                                <p>Êtes-vous sûr.e de vouloir supprimer votre compte ?</p>
                              </div>
                              <div class="modal-footer">
                                <a class="btn btn-success" href = "/deleteAccount">Oui</a>
                                <a class="btn btn-danger" data-dismiss="modal">Non</a>
                              </div>
                            </div>

                          </div>
                        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <form action = "edit_profile" method = "post">
            <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Mot de Passe</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-auto">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="floatingOldPassword"
                  placeholder="MotDePasse"
                  name="oldPassword"
                  required
                />
                <label for="floatingOldPassword">Ancien mot de passe</label>
              </div>
              </div>
          </div>
              <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary"></h6>
            </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-auto">
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingNewPassword"
                    placeholder="MotDePasse"
                    name="newPassword"
                    required
                  />
                  <label for="floatingNewPassword">Nouveau mot de passe</label>
                </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 my-auto">
                  <div class="form-floating">
                    <input
                      type="password"
                      class="form-control"
                      id="floatingPasswordConfirmation"
                      placeholder="MotDePasse"
                      name="passwordConfirmation"
                      required
                    />
                    <label for="floatingPasswordConfirmation"
                      >Confirmer votre mot de passe</label
                    >
                  </div>
                </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary"></h6>
            </div>
          <div class="row mt-3">
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 form-floating"
    >
      <button type="submit" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
        Modifier
      </button>
    </div>
            </div>
        </div>
          </form>
            <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary"></h6>
            </div>
           <form method = "post" action ="/edit_profile_pic" >
                <div
      class="mx-auto text-center form-group"
    >
      <select class="selectpicker form-control" name="avatar" title = "Changer la photo de profil">
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon1.png?v=1617871979407'></img> Chevalier"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon1.png?v=1617871979407"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon2.png?v=1617871999757'></img> Archère"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon2.png?v=1617871999757"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon3.png?v=1617872002014'></img> Voleur"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon3.png?v=1617872002014"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon4.png?v=1617872003351'></img> Guerrier"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon4.png?v=1617872003351"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon5.png?v=1617872004582'></img> Voleuse"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon5.png?v=1617872004582"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon6.png?v=1617872005713'></img> Archer"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon6.png?v=1617872005713"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon7.png?v=1617872006936'></img> Paladin"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon7.png?v=1617872006936"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon8.png?v=1617872009096'></img> Magicienne"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon8.png?v=1617872009096"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon9.png?v=1617872011096'></img> Assassin"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon9.png?v=1617872011096"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon15.png?v=1617872013848'></img> Arbre"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon15.png?v=1617872013848"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon10.png?v=1617872015607'></img> Barbare"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon10.png?v=1617872015607"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon24.png?v=1617872018121'></img> Vampire"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon24.png?v=1617872018121"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon33.png?v=1617872019706'></img> Guerrier Maléfique"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon33.png?v=1617872019706"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon39.png?v=1617872022058'></img> Génie"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon39.png?v=1617872022058"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon29.png?v=1617872023972'></img> Salamandre"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon29.png?v=1617872023972"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon21.png?v=1617872026467'></img> Dragon Squelette"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon21.png?v=1617872026467"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon41.png?v=1617872030356'></img> Méduse"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon41.png?v=1617872030356"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon28.png?v=1617872044381'></img> Gargouille"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon28.png?v=1617872044381"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon32.png?v=1617872046305'></img> Corbeau"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon32.png?v=1617872046305"
        ></option>
        <option
          data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon42.png?v=1617872048941'></img> Dragon"
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon42.png?v=1617872048941"
        ></option>
      </select>
    </div>
                <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 form-floating"
    >
      <button type="submit" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
        Modifier
      </button>
    </div>
              </form>
              {{#errors}}
            <div class="row mt-3" >
                <div
                  class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-danger"
                  role = "alert"
                >
                {{msg}}
                </div>
              </div>
            {{/errors}}
              {{#success}}
              <div class="row mt-3" >
                <div
                  class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-success"
                  role = "alert"
                >
                {{msg}}
                </div>
              </div>
              {{/success}}
          
        </div>
      </div>
 
  </div>
</div>
{{>footer}}
