{{> header}}

{{#success}}
<div class="row mb-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-success"
      role = "alert"
    >
    {{msg}}
    </div>
  </div>
{{/success}}

<div class="row justify-content-center pt-5 mt-3 pb-3 text-center">
<div class="col-10">
  <h2>
    Votre mission, si vous l'acceptez...
  </h2>
</div>
</div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-9 col-10 mb-2">
        <div class="card mb-0 h-100">

          <div class="d-flex align-items-start flex-column mb-3 h-100">
            <div class="w-100 px-4">
              <p class="mx-2 mt-3" style="text-align: justify;">{{title}}</p>
              <hr/>
            </div>
            <div class="my-3 px-2">
              <p class="mx-3" style="text-align: justify">{{description}}</p>
            </div>


            <div class="mt-auto p-2 bd-highlight w-100">
              <span style="font-size: 0.8em;">  Auteur : <i>{{author}}</i></span>
              <img class= "rounded-circle mx-2 my-3" style="width: 2.3em;" src ="{{profilePic}}">
              <div class="row justify-content-center">
              <div class="col-3 d-flex px-0 pt-2  justify-content-center">

                {{#hasLiked}}
                  <a id="likeButton{{id}}" {#authenticated}} onclick="clicked(this, true, {{nbUpvotes}})" {/authenticated}} class="text-decoration-none" style="color: black; cursor: pointer">
                    <i class="fas fa-thumbs-up fa-lg" style="color: black;"></i>
                    <span>{{nbUpvotes}}</span>
                  </a>
                {{/hasLiked}}
                {{^hasLiked}}
                  <a id="likeButton{{id}}" {{#authenticated}} onclick = "clicked(this, false, {{nbUpvotes}})" {{/authenticated}} class="text-decoration-none" style="color: black; cursor: pointer">
                    <i class="far fa-thumbs-up fa-lg" style="color: black;"></i>
                  <span>{{nbUpvotes}}</span>
                  </a>
                {{/hasLiked}}

              </div>
                {{#hasAccepted}}
                <div class = "col-6 px-0 d-flex justify-content-center mt-2">
                  Défi relevé !
                </div>
                {{/hasAccepted}}
                {{^hasAccepted}}
                <a class = "col-6 px-0 d-flex justify-content-center text-decoration-none btn btn-outline-primary" href="/acceptChallenge/{{id}}">
                    Je relève le défi !
                </a>
                {{/hasAccepted}}
                {{#hasReported}}
                  <div class="col-3 pt-3 px-0 d-flex justify-content-center" style="font-size: 0.8em;">
                    <i>Signalé</i>
                </div>
                {{/hasReported}}
                {{^hasReported}}
                  <a class="col-3 pt-3 px-0 d-flex justify-content-center" style="font-size: 0.8em;" href="/reportChallenge/{{id}}">Signaler</a>
                {{/hasReported}}
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
<script>
function clicked(element, isliked, nbUpvotes) {
  if(isliked){
    let newValue = "clicked(this, false,"+ (nbUpvotes - 1) + ")";
    element.setAttribute("onclick", newValue);
    element.firstElementChild.className = "far fa-thumbs-up fa-lg";
    element.lastElementChild.innerText = nbUpvotes - 1;
    upvote(element["id"].substring(10), true)
  }else{
    let newValue = "clicked(this, true,"+ (nbUpvotes + 1) + ")"
    element.setAttribute("onclick" ,newValue);
    element.firstElementChild.className = "fas fa-thumbs-up fa-lg";
    element.lastElementChild.innerText = nbUpvotes + 1;
    upvote(element["id"].substring(10), false)
  }
}

function upvote(challengeid, isLiked) {
  var data = {};
  data.challengeid = challengeid;
  data.isLiked = isLiked;
  $.ajax({
    url: '/upvote',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(data)
  });
}
</script>

{{> footer}}