{{> header}}
<form class="container overflow-hidden justify-content-center" action="/signup" method="post">
  <div class="row mt-3" >
  <h1 class = "col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center h3 mb-3 fw-normal">
  Créer un compte
  </h1>
  </div>
  <div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <input
        type="text"
        class="form-control"
        id="floatingUsername"
        placeholder="votreNomUtilisateur"
        name="username"
        required
      />
      <label for="floatingUsername">Nom d'utilisateur</label>
    </div>
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-group"
         >
      <select class="selectpicker form-control" name  = "avatar">
  <option data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon1.png?v=1617871979407'></img> Chevalier" 
          value = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon1.png?v=1617871979407"></option>
  <option  data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon2.png?v=1617871999757'></img> Voleuse" 
          value = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon2.png?v=1617871999757"></option>
  <option data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon3.png?v=1617872002014'></img> Voleur" 
          value="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon3.png?v=1617872002014"></option>
  <option  data-content="<img class = 'img-thumbnail' src='https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon4.png?v=1617872003351'></img> Paladin" 
          value = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcon4.png?v=1617872003351"></option>
  </select>
    </div>
  </div>
  <!--
  <div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <input
        type="email"
        class="form-control"
        id="floatingEmail"
        placeholder="Votremail"
        name="email"
        required
      />
      <label for="floatingEmail">E-mail</label>
    </div>
  </div>
-->
  <div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="MotDePasse"
        name="password"
        required
      />
      <label for="floatingPassword">Mot de passe</label>
    </div>
  </div>
  <div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <input
        type="password"
        class="form-control"
        id="floatingPasswordConfirmation"
        placeholder="MotDePasse"
        name="passwordConfirmation"
        required
      />
      <label for="floatingPasswordConfirmation">Confirmer votre mot de passe</label>
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-floating"
    >
      <button type="submit" class="btn btn-primary">
        S'inscrire
      </button>
    </div>
  </div>
</form>
{{#errors}}
<div class="row mt-3" >
    <div
      class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-danger"
      role = "alert"
    >
    {{msg}}
    </div>
  </div>
{{/errors}}

{{> footer}}