{{> header}}

{{#success}}
<div class="row mb-3" >
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-success" role = "alert">
    {{msg}}
    </div>
  </div>
{{/success}}
{{#error}}
<div class="row mb-3" >
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center alert alert-danger" role = "alert">
    {{msg}}
    </div>
  </div>
{{/error}}


  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mx-5 px-3 pt-5 g-5">
      {{#results}}
        <div class="col mb-2">
            <div class="card mb-0 h-100">
              
              <div class="d-flex align-items-start flex-column mb-3 h-100">
                <div class="w-100 px-4">
                  <p class="mx-2 mt-3" style="text-align: justify;">{{title}}</p>
                  <hr/>
                </div>
                <div class="my-3 px-2">
                  <p class="mx-3" style="text-align: justify">{{description}}</p>
                </div>
                
                
                <div class="mt-auto p-2 bd-highlight w-100">
                  <span style="font-size: 0.8em;">  Auteur : <i>{{author}}</i></span>
                  <img class= "rounded-circle mx-2 my-3" style="width: 2.3em;" src ="{{profilePic}}">
                  <div class="row justify-content-center">
                  <div class="col-3 d-flex px-0 pt-2  justify-content-center">
                      <a class="text-decoration-none" style="color: black; cursor: pointer">
                        <i class="far fa-thumbs-up fa-lg" style="color: black;"></i>
                      <span>{{nbUpvotes}}</span>
                      </a>
                  </div>
                  <div class="col-9"></div>
                  </div>
                  <div class="row justify-content-center pt-3">
                    <a class = "col-4 px-0 d-flex justify-content-center text-decoration-none btn btn-outline-danger" href="/closeChallenge/{{id}}">
                        La mort
                    </a>
                    <div class="col-1"></div>
                    <a class = "col-4 px-0 d-flex justify-content-center text-decoration-none btn btn-outline-success" href="/openChallenge/{{id}}">
                        La vie
                    </a>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
      {{/results}}
  </div>

  {{^results}}
  <div class="px-5 mx-5 pt-5">
    <h6 class = "px-5 mx-5">
       Aucun défi pour le moment !
    </h6>
  </div>
  {{/results}}  

    <nav class="pt-4">
      <ul class="pagination justify-content-center">
        <li class="page-item {{#prev_disabled}}disabled{{/prev_disabled}}">
          <a class="page-link" href="/challenges?page={{prev_page}}"><i class="fas fa-chevron-left"></i></a>
        </li>
        <li class="page-item"><p class="page-link" href="#">{{page}}</p></li>
        <li class="page-item {{#next_disabled}}disabled{{/next_disabled}}">
          <a class="page-link" href="/challenges?page={{next_page}}"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </nav>

{{> footer}}