{{>header}}

<div class = "container py-4">
   <div class="row align-items-md-stretch">
      <div class="col-md-6">
       <div class="h-100 p-5 bg-light border rounded-3">
          <h2>{{name}}, voilà votre arbre.</h2>
         <img src = {{treePic}} class = "mx-auto img-fluid"></img>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Vous possédez {{nbPoints}} 
            <img src ="https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fcaretreecoin.png?v=1617733399669" style = "width : 10%; height : auto;"></img>
          </h2>
          <p>Relevez des défis avec brio pour en gagner plus ! Plus un défi est liké, plus il rapporte de points et plus votre arbre grandira ! 
            Partez à la quête des actes positifs !</p>
           <a href="/challenges" class="btn btn-secondary btn-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
            Voir les Challenges
          </a>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch mt-5">
      <div class="h-100 p-5 bg-light border rounded-3">
               <h2>Votre progression</h2>
            <div class = "row">
              <div class = "col-sm">
                <img src = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fsprout0.png?v=1618234904927" class = "img-fluid" style = "width:40%; height : auto;"></img>
              </div>
              <div class = "col-sm">
                <img src = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fsprout.png?v=1618234931458" class = "img-fluid" style = "width:40%; height : auto;"></img>
              </div>
              <div class = "col-sm">
                <img src = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fsprout2.png?v=1618234934510" class = "img-fluid" style = "width:40%; height : auto;"></img>
              </div>
              <div class = "col-sm">
                <img src = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fsprout3.png?v=1618234937138" class = "img-fluid" style = "width:40%; height : auto;"></img>
              </div>
              <div class = "col-sm">
                <img src = "https://cdn.glitch.com/f9be0b84-d35c-45c8-8689-5d4042a91ff2%2Fsprout4.png?v=1618234943870" class = "img-fluid" style = "width:40%; height : auto;"></img>
              </div>
            </div>
                <div class="progress" style = "height : 20px;">
                  <div class="progress-bar" role="progressbar" style = {{filling}} aria-valuenow={{nbPoints}} aria-valuemin="0" aria-valuemax="100">{{filling}}</div>
                </div>
    </div>
    </div>
</div>


{{>footer}}